body, html{
    height: 100%;
    background-color:rgb(168, 120, 88) ;
}

.container{
    display: flex;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(105, 85, 53);
    background-color: rgb(243, 240, 240);
}

.imagen_joia, .login{
    flex: 1;
}

.imagen_joia img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form{
    width: 100%;
    max-width: 200px;
}

.login h2{
    margin-bottom: 10%;
    color: rgb(82, 71, 57);
}

.recebe input{
    padding: 0.4rem;
    background-color: rgb(224, 224, 223);
    border-radius: 7px;
}

.recebe input:hover{
    background-color: rgb(233, 215, 187);
    transition: 1s;
}

.recebe p{
    font-size: 12px;
}

.recebe a{
    color: rgb(168, 120, 88);
    transition: transform 0.3 ease;
}

.recebe a:hover{
    color: rgb(150, 105, 76);
    transition: 1s;
    transform: scale(1.1);
}

.entra_botao input{
    padding: 0.6rem;
    cursor: pointer;
    font-weight:500;
    background-color: rgb(168, 120, 88);
    border-radius: 5px ;
    transition: trasform 0.1 ease;
}

.entra_botao input:hover{
    background-color: rgb(133, 92, 64);
    transform: scale(1.1);
    transition: 1s;
}

@media(max-width: 900px){
    .imagen_joia img{
        display: none;
    }

    .container {
      justify-content: center;
      align-items: center;
    }

    .imagen_joia, .login{
        flex: 0;
    }
    
}

@media (max-width:330px){
     
    .container{
        width: 100%;
       
    }

    
   
}